last 2 versions
not dead
not ie > 1
not ie_mob > 1
not opera > 1
not operamobile > 1
not ChromeAndroid > 1
not iOS  > 1
not OperaMini > 0
not Samsung  > 1
not FirefoxAndroid  > 1
not baidu > 1
not Android  > 1
not QQAndroid  > 1
not UCAndroid  > 1
not OperaMini all